test/.idea/workspace.xml
test/.idea/vcs.xml
test/.idea/test.iml
test/.idea/php.xml
test/.idea/modules.xml
regulus/.idea/workspace.xml
regulus/.idea/vcs.xml
regulus/.idea/untitled1.iml
regulus/.idea/php.xml
regulus/.idea/modules.xml
regex/.idea/workspace.xml
regex/.idea/vcs.xml
regex/.idea/regex.iml
regex/.idea/php.xml
regex/.idea/modules.xml
generator/.idea/workspace.xml
generator/.idea/vcs.xml
generator/.idea/modules.xml
generator/.idea/Php_prac.iml
generator/.idea/.name
.idea/workspace.xml
.idea/php.xml
.idea/modules.xml
.idea/vcs.xml
